<div class="overflow-hidden">
    <nav
        class="sidebar fixed bottom-0 top-0 z-50 h-full min-h-screen w-[260px] shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-all duration-300">
        <div class="h-full bg-white">
            <div class="flex items-center justify-between px-4 py-2 relative overflow-hidden">
                <a routerLink="/" class="main-logo flex shrink-0 items-start w-[165%]" aria-label="home page">
                    @if (toggleMobileimg()) {
                    <img class="flex-none w-full h-[90px] object-contain -mt-2" [src]="'assets/images/MOJ_Logo_AR.png'"
                        alt="logo" />
                    }
                </a>
                <a href="javascript:;"
                    class="collapse-icon flex h-8 w-8 items-center rounded-full transition duration-300 hover:bg-gray-500/10 hover:text-primary mt-1 rtl:rotate-180 absolute ltr:right-2 rtl:left-2"
                    (click)="storeData.dispatch({ type: 'toggleSidebar'})">
                    <icon-carets-down class="m-auto rotate-90" />
                </a>
            </div>


            <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">
                <ul class="relative space-y-0.5 p-4 py-0 font-semibold">
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('dashboard') }"
                            (click)="toggleAccordion('dashboard')">
                            <div class="flex items-center">
                                <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />

                                <span class="text-black ltr:pl-3 rtl:pr-3">
                                    لوحة القيادة
                                </span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('dashboard') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('dashboard')" class="accordion-content">
                            <ul class="sub-menu text-gray-500">
                                <li>
                                    <a routerLink="/" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">
                                        لوحة القيادة
                                    </a>
                                </li>
                                @if (store.auth.user?.role == 'Viewer') {
                                <li>
                                    <a routerLink="/dashboard-slider" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">{{
                                        'تمرير الصورة'}}</a>
                                </li>
                                }
                                @if (store.auth.user?.role == 'Manager') {
                                <li>
                                    <a routerLink="/draft-table" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">{{
                                        'بيانات محفوظة كمسودة'}}</a>
                                </li>
                                <li>
                                    <a routerLink="/under-review-table" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">{{
                                        'بيانات مرتجعة للتدقيق'}}</a>
                                </li>
                                }
                                @if(store.auth.user?.role == 'Secretary') {

                                <li>
                                    <a routerLink="/tasks-table" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">{{
                                        'المهام تحت الإجراء'}}</a>
                                </li>
                                <li>
                                    <a routerLink="/add-department" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">{{
                                        'إعدادات الإدارات و القطاعات'}}</a>
                                </li>
                                <li>
                                    <a routerLink="/users" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">{{
                                        'إعدادات المستخدمين'}}</a>
                                </li>
                                }
                                <!-- <li>
                                    <a routerLink="/analytics" routerLinkActive="active" (click)="toggleMobileMenu()">{{
                                        'analytics' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/finance" routerLinkActive="active" (click)="toggleMobileMenu()">{{
                                        'finance' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/crypto" routerLinkActive="active" (click)="toggleMobileMenu()">{{
                                        'crypto' | translate }}</a>
                                </li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
            </ng-scrollbar>
        </div>
    </nav>
</div>